@{
    ViewBag.Title = "Contáctanos";
}
<div class="row">
    <div class="cell-12">
        <h2 class="display2 text-light text-upper mt-4">@ViewBag.Title</h2>
    </div>
    <div class="cell-12">
        <address>
            Estamos ubicados a 1KM del Puerto de Libertad<br />
            Hotel Caligulas & SPA<br />
            <abbr title="Telefono">Telefono:</abbr>
            6160-4039
        </address>

        <address>
            <strong>Correo Hotel:</strong>   <a href="mailto:Support@example.com">sysadmin@caligulashotel.com.sv</a><br />
            <strong>Has tu cotizacion:</strong> <a href="mailto:Marketing@example.com">eventos@caligulashotel.com.sv</a>
        </address>
    </div>
</div>


