
@{
    ViewBag.Title = "Eventos";
}

<div class="row">
    <div class="cell-12">
        <h1 class="text-upper text-light display2 mt-4">@ViewBag.Title</h1>
    </div>
</div>
<div class="row flex-align-center h-100">
    <div class="cell-md-6 text-center">
        <img src="~/Uploads/carousel_hotel_3.jpg" class="img-fluid" />
    </div>
    <div class="cell-md-6">
        <h1 class="text-light text-upper">bodas</h1>
        <p class="text-muted mb-2">...</p>
    </div>
</div>

